 @using WebApp.Mvc.Models.UserManagementPanelModels
 @model ChangePasswordUser

@{
    ViewData["Title"] = "Alterar Senha";
}

<h1>@ViewData["Title"]</h1>
<h2>Resetar senha do usuário </h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                     
            @* <div class="form-floating mb-3">
                <input asp-for="OldPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div> *@
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div>
                <input type="hidden" asp-for="@Model.UsuarioID" />
                <input type="submit" value="Resentar Senha" class="btn btn-success" style="width:auto" />
                <a class="btn btn-dark" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }